/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 2em;
  max-width: 970px;
}

figure img {
  margin: 0 auto;
}

header {
  display: block;
  padding: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid #7d97ad;
  -moz-transition-property: background-size;
  -o-transition-property: background-size;
  -webkit-transition-property: background-size;
  transition-property: background-size;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  background-image: url('/images/udacity-logo.svg?1476673736');
  background-repeat: no-repeat;
  background-position: center left;
}
@media (min-width: 450px) {
  header {
    background-size: auto 70%;
  }
}
@media (max-width: 449px) {
  header {
    background-size: auto 50%;
  }
}

figure {
  width: 100%;
}

.transition-width {
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.main-img {
  width: 100%;
  margin: 0 auto;
}
